<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.glossarysaya">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GLOSSARYSAYA"
        tools:targetApi="31">

        <!-- SplashScreenActivity should be the launcher activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="Glossary"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignInActivity is the next screen after SplashScreen -->
        <activity
            android:name=".SignInActivity"
            android:label="Login"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />

        <!-- SignUpActivity for user registration -->
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />

        <!-- MainActivity for the app's main content after login -->

        <activity
            android:name=".Home"
            android:label="Home"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />

        <activity
            android:name=".PeringkatActivity"
            android:label="Peringkat"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />

        <activity
            android:name=".QuizHistoryActivity"
            android:label="Riwayat"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />

        <activity
            android:name=".Quiz.QuizSD"
            android:label="Riwayat"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />
        <activity
            android:name=".Quiz.QuizSMP"
            android:label="Riwayat"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />
        <activity
            android:name=".Quiz.QuizSMA"
            android:label="Riwayat"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />
        <activity
            android:name=".Quiz.QuizUmum"
            android:label="Riwayat"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />
        <activity
            android:name=".ProfilActivity"
            android:label="profil"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />
        <activity
            android:name=".ProfilEditActivity"
            android:label="Riwayat"
            android:theme="@style/Theme.GLOSSARYSAYA"
            android:exported="true" />

    </application>

</manifest>
